<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the lieu_et_scene_init() hook (in hooks/lieu_et_scene.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="lieu_et_scene-nom_du_lieu-<%%VALUE(id_lets)%%>" class="lieu_et_scene-nom_du_lieu"><%%SELECT%%><%%VALUE(nom_du_lieu)%%><%%ENDSELECT%%></td>
		<td id="lieu_et_scene-illustration-<%%VALUE(id_lets)%%>" class="lieu_et_scene-illustration"><%%SELECT%%><img src="thumbnail.php?i=<%%VALUE(illustration)%%>&t=lieu_et_scene&f=illustration&v=tv" class="img-thumbnail"><%%ENDSELECT%%></td>
		<td id="lieu_et_scene-description-<%%VALUE(id_lets)%%>" class="lieu_et_scene-description"><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></td>
		<td id="lieu_et_scene-difficulte_nivo-<%%VALUE(id_lets)%%>" class="lieu_et_scene-difficulte_nivo"><%%SELECT%%><%%VALUE(difficulte_nivo)%%><%%ENDSELECT%%></td>
