<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Objectifs_init() hook (in hooks/Objectifs.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Objectifs-titreobj-<%%VALUE(id_objectif)%%>" class="Objectifs-titreobj"><%%SELECT%%><%%VALUE(titreobj)%%><%%ENDSELECT%%></td>
		<td id="Objectifs-description_obj-<%%VALUE(id_objectif)%%>" class="Objectifs-description_obj"><%%SELECT%%><%%VALUE(description_obj)%%><%%ENDSELECT%%></td>
		<td id="Objectifs-ref_o_gameplay-<%%VALUE(id_objectif)%%>" class="Objectifs-ref_o_gameplay"><%%SELECT%%><%%VALUE(ref_o_gameplay)%%><%%ENDSELECT%%></td>
